@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

:root {
    min-height: 100%;
    background-color: white;
}

body {
    margin: 0;
    min-height: 100%;
    font-family: Ubuntu, sans-serif;
    color: #2E3440;
    font-size: 1.3rem;
    overflow-x: hidden;
}

.emoji {
    height: 12pt;
    transform: translate(0, 2pt);
    padding: 0;
}

nav {
    background-color: #D8DEE9;
    margin-bottom: 1em;
    overflow: visible;
    display: flex;
    color: black;
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%; */
}

.navbar {
    list-style-type: none;
    display: flex;
    overflow: visible;
    padding: 0;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.navbar-item {
    padding: 0.5em;
    display: block;
    float: left;
    overflow: visible;
    position: relative;
}

.navbar-title {
    padding: 0.5em;
    display: block;
    float: left;
    font-weight: bold;
    color: #2E3440;
}

.navbar-item:hover {
    background-color: #ECEFF4;
}

.menu {
    margin: auto;
    /* position: fixed; */
    list-style-type: none;
    display: box;
    overflow: visible;
    padding: 0;
    position:absolute;
    transform: translate(-1em);
    width: calc(100% + 1.5em);
    border-radius: 5px;
    background-color: #ECEFF4;
}

.visibleMenu {
    display: initial;
}

.invisibleMenu {
    display: none;
}

.menuItem {
    padding: 0.3em 0.2em 0.3em 0.5em;
}

.menuItem:hover {
    background-color: #D8DEE9;
}

.menu_button {
    position: absolute;
    top: 0;
    right: 0;
    width: 2em;
    display: none;
}


@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: start;
        margin: none;
    }
    .menu {
        position: initial;
        transform: none;
    }

    .hiddenNavbar {
        min-height: 3em;
    }

    .hiddenNavbar * {
        display: none;
    }

    .menu_button {
        display: initial;
    }
}





h1, h2, h3, h4, h5 {
    color: #003399;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

hr {
    color: #3B4252;
}

a { color: #5e81ac; }

img {
    max-width: 90%;
    padding: 0.5em 5% 0.5em 5%;
}

pre {
    background-color: #434c5e;
    border-radius: 3px;
    padding: 2pt;
    font-family: 'Ubuntu Mono', monospace;
}

code {
    background-color: #434c5e;
    border-radius: 2px;
    padding: 0 2pt;
    font-family: 'Ubuntu Mono', monospace;
}

main {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    padding: 0em 1em 0 1em;
}

p {
    text-align: justify;
    font-size: 1.2em;
}

li > p {
    margin: 0;
}

table, td, th {
    border-collapse: collapse;
    border: 1px solid #4C566A;
}

td, th {
    padding: 3px;
}

th {
    color: #88c0d0;
}

.bigquote p {
    font-size: 2em;
    color: #003399;
    text-align: left;
    padding: 1em;
}

.partner {
    text-align: center;
    background-color: #00000010;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 1em;
}

.partner > * > * {
    text-align: center;
}

.partnerRole {
    font-size: 1.2rem;
}

.partnerName {
    font-size: 2.25rem;
}

.partnerName > * {
    margin: 0.2em;
}

.partnerRole > * {
    margin: 0.2em;
}

.partnerInfo > ul {
    display: table;
    margin: auto;
    text-align: left;
    min-width: 30%;
}


.gallery > * {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.gallery > * > * {
    max-width: 10em;
    margin: 0.5em;
    padding: 0.5em;
    cursor: zoom-in;
}

.buttonList ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.buttonList li {
    margin: 0.3em;
    padding: 0.8em;
    background-color: #ECEFF4;
    width: 25%;
    text-align: center;
    border-radius: 6px;
    flex-grow: 1;
}

@media screen and (max-width: 900px) {
    nav { padding: 0 1em 0 1em; }
    .gallery > * > * {
        max-width: 6em;
    }
    .erazmusLogo {
        display: none;
    }
    body {
        font-size: 1rem;
    }
    p {
        text-align: left;
    }
}

.black {
    padding: 0;
    position: relative;
}

.blackBackground {
    position: absolute;
    background-color: #2E3440;
    left: -100vw;
    width: 200vw;
    z-index: -10;
    height: 100%;
}

.black > * {
    color: white;
}

.black h1, .black h2, .black h3, .black h4 {
    color: white;
}

.blackContent {
    padding: 2em;
}

.advancedGallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.advancedGalleryItem {
    max-width: 10em;
    margin: 0.5em;
    padding: 0.5em;
    cursor: zoom-in;
}

.advancedGalleryItem p {
    text-align: center;
    font-size: 0.8em;
}
